.home-recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #f0f0f0;
    /* Lighter border color */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    max-width: 300px;
    background-color: #fbc19a;
    max-height: 400px;
}

.recipe-container:hover {
    transform: scale(1.05);

}

.recipe-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f0f0f0;
    /* Lighter border color */
}

.label {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    /* Darker text color */
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fbc19a;
}

.details p {
    background-color: #efa26f;
    /* Yellow accent color */
    border-radius: 20px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 14px;
    color: #efd2d2;
    /* Darker text color */
}